<main-header ng-if="authenticated"></main-header>
<div ng-if="authenticated" layout="row" class="main-content">
  <div class="ui-content" flex="80" flex-sm="100" ui-view>
  </div>
  <div hide-sm flex="20">
    side content
  </div>
</div>
