.entire-menu {
	background-color: white;
}

.menu-item {
	text-align: center;
	padding: 5px;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	transition: background-color, 0.2s;
}

.entire-menu .adjust {
	padding-top: 13px;
}

.menu-item:hover {
	cursor: pointer;
	color: white;
	background-color: #3F51B5;
}

menu-header .active {
	background-color: #3f51b5;
	color: white;
}