<div layout="row" layout-sm="column" class="entire-menu md-whiteframe-z1"> <!-- layout-align="space-around start" -->
	<div flex
		class="menu-item adjust"
		ng-click="$state.go('main.home')"
		ng-class="{active: stateName === 'main.home'}">Home
	</div>
	<div flex
		class="menu-item adjust"
		ng-click="$state.go('main.resources')"
		ng-class="{active: stateName === 'main.resources'}">Resources
	</div>
	<div flex
		class="menu-item adjust"
		ng-click="$state.go('main.projects')"
		ng-class="{active: stateName === 'main.projects'}">Projects</div>
	<div flex
		class="menu-item"
		ng-click="$state.go('main.betterHuman')"
		ng-class="{active: stateName === 'main.betterHuman'}">Become a better</br>Human
	</div>
	<div flex
		class="menu-item"
		ng-click="$state.go('main.contactManagement')"
		ng-class="{active: stateName === 'main.contactManagement'}">Contact</br>Management</div>
	<div flex
		class="menu-item adjust"
		ng-click="$state.go('main.tracking')"
		ng-class="{active: stateName === 'main.tracking'}">Tracking</div>
	<div flex
		class="menu-item adjust"
		ng-click="$state.go('main.onlineEdge')"
		ng-class="{active: stateName === 'main.onlineEdge'}">Online Edge</div>
	<div flex
		class="menu-item adjust"
		ng-click="$state.go('main.conferenceCalls')"
		ng-class="{active: stateName === 'main.conferenceCalls'}">Conference Calls</div>
</div>
