<div id="home-page" class="md-whiteframe-z2">
  <div layout="column" layout-align="center center">
    <h1>Start here</h1>
    <i class="fa fa-arrow-down"></i>
  </div>

  <h2>
     WELCOME TO THE TEAM! YOU MADE THE RIGHT DECISION CHOOSING TO BUILD A BLENDFRESH BUSINESS TO MAKE YOUR LIFE HEALTHIER,
     EASIER AND CREATE ONGOING INCOME FOR YOU AND YOUR FAMILY.
  </h2>

  <ol>
     <li>Schedule a first call within the next 3 days with your sponsor or upline to show you around</li>
     <li>
        Set up your Subscription order in your back office (my.blendfresh.com) for 90 PV,
        ask for help from your upline if needed or use this tutorial:
        <a href="https://steptap.com/How-To-Set-Up-Your-Blendfresh-Subscription-Order" target="_blank">
        https://steptap.com/How-To-Set-Up-Your-Blendfresh-Subscription-Order</a>
     </li>
     <li>
        Set up your direct deposit or propay to get paid:
        <a href="https://powersmoothieteam.wordpress.com/first-steps/get-paid/" target="_blank">
           https://powersmoothieteam.wordpress.com/first-steps/get-paid/
        </a>
     </li>
     <li>
        Blendfresh Customer Service number: 855-502-5363, for tools:
        <a href="www.blendfreshtools.com" target="_blank">www.blendfreshtools.com</a>
     </li>
     <li>Read the book GoPro by Eric Worre to learn how exactly network marketing is done the right way.</li>
  </ol>
  <hr>
  <div layout="row" layout-align="space-between start">
    <div>
      <h3>Extensive Product Information</h3>
      <div class="product-info">
         <a href="http://coachjenngibbs.com/blendfresh-plant-protein/" target="_blank">Protein</a>
         <a href="http://coachjenngibbs.com/blendfresh-orange-12-fruits-vegetables/" target="_blank">Orange</a>
         <a href="http://coachjenngibbs.com/blendfresh-purple-12-fruits-and-veggies/" target="_blank">Purple</a>
         <a href="http://coachjenngibbs.com/blendfresh-red-fruit-veggie-whole-food-supplement/" target="_blank">Red</a>
         <a href="http://coachjenngibbs.com/look-greens-supplement/" target="_blank">Green</a>
         <a href="http://coachjenngibbs.com/blendfresh-probiotics/" target="_blank">Pre &amp; Pro Biotics</a>
         <a href="http://teamblendfresh.com/gitRepos/bootcamp/data/resources/FAQs-Blendfreshfoods.pdf" target="_blank">FAQ</a>
      </div>
    </div>
    <div>
      <h3>Learn how to earn</h3>
      <a href="http://teamblendfresh.com/gitRepos/bootcamp/data/resources/Compplan_madeeasy.pdf" target="_blank">
        Downloadable Comp plan made easy
      </a>
      <iframe width="420" height="315" src="https://www.youtube.com/embed/xw3VBwTJ2is" frameborder="0" allowfullscreen></iframe></br>
    </div>
  </div>

  <hr>
  <div layout="column" layout-align="center center">
    <h1>Your Business start-up plan</h1>
  </div>
  <p>
     Each product has a point value. It is 30 points for each color or protein product,
     20 points for the fiber and 15 points for the pre- and probiotic, blenders don’t have
     a point volume, however they are making it possible to create a real residual income,
     because purchasers are going to order from you for 12 months, each month and you will
     receive an additional one time Blender bonus of $20, $40 or $160 depending on the model you sold.
  </p>
  <p>
     You are getting payed each month for the point volume sold in your organization.
  </p>
  <h3>1. Goal and Time Frame</h3>

  <p>
    In your first calendar month reach the rank of <strong>TRAINER.</strong></br>
    It is <strong>1000 point volume sold within your organization and 3 personally sponsored
    consultants</strong> that are purchasing each for a min. 50 points every month and you are maintaining
    an active consultant status by buying 90PV worth of products through your own account.
  </p>
  <p>
    <strong>Easy to reach:</strong></br>
    It can vary between 6 people that are purchasing the all product pack, to up to 20 people
    purchasing for the minimum 50 point order, consultants an consumers together.
  </p>
  <p>
    <strong>WHAT IS YOUR REWARD FOR REACHING THE RANK OF TRAINER?</br>
    You will be celebrated for reaching the first milestone of becoming a Blendfresh Business Builder!
    In the first month when you reach that rank, you will get an additional bonus of $100 above everything
    else you made!</strong>
  </p>
  <p>
    Also when you are qualifying as a Trainer for 3 months in a row, you will make and additional $100
    as an Activity bonus EACH MONTH, until you keep your rank of Trainer each month, which is basically
    paying for your products and gives you some extra.
  </p>
  <p>
    So having lots of Trainers on your team creates lots of stability.  By the time your consultants
    sign up their 3 people, they will be experiencing success, earning money and be confident at 
    learning the basic skills they need to continue on!
  </p>
  <p>
    To access all bonuses you must maintain Active Consultant status which includes your minimum of 90
    PV of your personal Blendfresh order put in by the 15th of each month. Set up your subscription order
    scheduled between the 10th – 15th of each month to meet requirements.
    <a href="https://steptap.com/How-To-Set-Up-Your-Blendfresh-Subscription-Order">
      How to setup subscription Order
    </a>
  </p>
  <div layout="column" layout-align="center center">
    <h1 style="margin-bottom:10px;">YOUR BUSINESS LAUNCH</h1>
    <h3>HOW DO YOU BECOME A SOLID TRAINER</h3>
  </div>
    <div layout="column" layout-align="center center">
      <h3 id="rule-one">
        Rule #1 Make sure you are signing up your people on Subscription Order for
        your ongoing income.
      </h3>
    </div>
  <p>
    <strong>Step 1.</br>
    Write your names list of 50-100 people</strong> you want to introduce to the products,
    then also write and additional 50-100 people name's you want to work with you on Blendfresh
    while consuming the products.
  </p>
  <p>
    <strong>Step 2.</br>
    Set up your 3 classes in your first calendar month and invite 15-20 people to each of your classes.</br></strong>
    (Why 15-20 people? Half will say yes, and half of that will show).
    Why 3 classes? Those people who can’t come to the first one, can come to the second or third. When you have success bringing on new
    consultants on your team, they will have a class already planned where they can bring their people to, this creates momentum.
  </p>
  <p>
    Class date #1</br>
    Class date #2</br>
    Class date #3</br>
  </p>
  <p>
    <strong>Who is the presenter?</strong> If you are not feeling comfortable yet with doing a smoothie
    party, no worries, your upline will be happy to help you! Just give them a call. <strong>If you
    need more help email us at teamblendfresh@gmail.com and will help you find someone that can help
    you.</strong>
  </p>

  <p>
    <strong>Here is how to execute a successful Blendfresh Class EASILY – Demonstrators guide download.</strong>
  </p>
  <p>
    Use the class reward system to book more classes at your class -
    <a href="http://teamblendfresh.com/gitRepos/bootcamp/data/resources/Blendfresh_Host_Rewards_Program.pdf" target="_blank">
      Download Party Reward System
    </a>
  </p>
  <p>
    <strong>Step 3.</strong></br>
    Additionally to your class, you can decide to execute a Booth at a local event, to get the word out to more people,
    sell products and most importantly collect interested people’s phone and email addresses to follow up with. Need help,
    contact your upline or email us.
  </p>
  <p>
    <strong>Here is how to execute a successful Blendfresh Booth EASILY</strong> –
    <a href="#">Booth download.</a>
  </p>

  <p>
    <strong>Step 4.</br>
    3-way-call or one-on-one</br>
    You can start approaching people about Blendfresh on a one-on-one setting, by going out for a drink,
    lunch, breakfast etc. You can learn how to phrase your business approach in this VIDEO (2nd module
    in local prospecting formula) to successfully enroll someone in your business.</strong>
  </p>

  <p>
    <strong>CONGRATULATIONS!</strong></br>
    (If you made all these steps, you must have people ready to enroll in your business either as Customers or Consultants).
  </p>

  <p>
    <strong>HOW TO ENROLL?</strong>
  </p>

  <p>
    <strong>Step 1.</strong> Print out 10 of these
    <a href="http://teamblendfresh.com/gitRepos/bootcamp/data/resources/Enrollment%20form.pdf" target="_blank">
      Enrollment sheets,
    </a>
    fill them out. They are pretty selfexplanatory, but if you need help with it, just ask your upline.
  </p>

  <p>
    <strong>Step 2.</strong> Put them in the system. Log in your back office, and on the right
    handside, there is the „Enroll” button. From than on just follow the steps. If you need help
    with the first one, ask your upline, they will be happy to help you.
  </p>

  <p>
    <strong>Step 3.</strong> Sign them up for subscription order (monthly autoship order, they can
    modify the orderany time, cancel anytime unless they bought blenders).
  </p>
  <p>
    <strong>Do this until you reach the rank of TRAINER!</strong>
  </p>

  <h1 class="center">STARTING OUT YOUR NEW CONSULTANT AND/OR CUSTOMER</h1>


  <h3>New Customer</h3>
  <ol>
    <li>
      Send them a
      <a href="http://teamblendfresh.com/gitRepos/bootcamp/data/resources/WC letter_consultant.docx">
        welcome letter
      </a>
      and RECIPES YOU USE. Sign them up to your weekly/monthly/2x a month email
      newsletter you send out to your customers on how to use the products.
    </li>
    <li>
      In 2 weeks check on them, how they like the products, what can you do for them, answering their questions.
    </li>
    <li>
      At the end of the month, if they have not been enrolling in the Subscription program by any reason,
      give them call and ask them what would they like to have as their next order this month?
    </li>
  </ol>
  <h3>New Consultant</h3>
  <ol>
    <li>Send them
      <a href="http://teamblendfresh.com/gitRepos/bootcamp/data/resources/WC letter_Customer.docx">
        welcome letter
      </a>
      with recipes and set up your first call in the next 3 days you welcoming them on the team,
      and showing them their back office, how to enroll people, and show them how to reach trainer
      in their first month, and set up their first 3 classes.
    </li>
    <li>Introduce them to this site, and let them go through this short training.</li>
    <li>Help them with their questions, classes, 3-way calls etc.</li>
  </ol>
  <hr>

  <h1 class="center">CONGRATULATIONS!</h1>
  <p>
    Now you have completed all tasks you need to do in order to succeed with this company and congratulations on
    reaching the rank of Trainer.
  </p>
  <p>
    Are you ready for a bigger income? Are you ready to write the history of Blendfresh?
  </p>
  <p>
    If your answer is YES, you are ready to start out the <strong>90 day Game Plan</strong>, our full blast
    success guide to help you to go from Trainer to Senior Trainer and beyond!
  </p>
  <div layout="column" layout-align="center center">
    <h3>Learn about the program</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fIXvOAtShik" frameborder="0"
    allowfullscreen></iframe>
  </div>
  <p>
    START HERE by downloading the
    <a href="http://teamblendfresh.com/gitRepos/bootcamp/data/resources/THE%2090%20DAY%20GAME%20PLAN%20Workbook(with%20cover).pdf" target="_blank">
      90 day Game Plan Workbook.
    </a>
    Printing it out and filling it out.</br>
    Learn how to leverage the opportunites that are available online by this simple
    Facebook strategy.
    <a href="http://teamblendfresh.com/gitRepos/bootcamp/#/main/online-edge">Go to Online Edge</a>
  </p>
  <p>
    Do your daily selfdevelopment by clicking on
    <a href="http://teamblendfresh.com/gitRepos/bootcamp/#/main/better-human">
      „Become a better human”
    </a>
    And start to track your daily activities with the
    <a href="http://teamblendfresh.com/gitRepos/bootcamp/#/main/tracking">
      TRACKING
    </a>
  </p>
</div>
