home-page h1, h2, h3 {
   text-transform: uppercase;
   font-weight: bold;
}

home-page h1 {
  font-size: 2em;
  margin: 20px 0;
}

home-page h3 {
  margin-bottom: 20px !important;
}

home-page .center {
  text-align: center;
}

home-page .fa-arrow-down {
  font-size: 3em;
  margin-bottom: 20px;
}

home-page a {
   color: rgb(63, 81, 181);
   font-weight: bold;
}

home-page p {
  margin: 20px 0;
}

home-page #rule-one {
  color: #C12012;
  text-align: center;
}

home-page a:hover {
   color: red;
}

home-page hr {
   margin: 20px 0;
}

home-page .product-info a{
   display: block;
}

home-page #home-page {
  padding: 20px;
}

home-page strong {
  font-weight: bold;
}

@media screen and (max-width: 5000px) {
  home-page #home-page {
    width:900px;
  }
}


@media screen and (max-width: 1200px) {
  home-page #home-page {
    width:75%;
  }
}


@media screen and (max-width: 600px) {
  home-page #home-page {
    width:100%;
  }
}
