.tabs-container {
  border: 1px solid black;
}

.md-tabs-content .md-tab-content {
  height: inherit;
  width: inherit;

}

md-tabs {
  overflow: visible;
}

.questions-container {
  width: 90%;
  border: 1px solid black;
  margin: auto;
}

.input-intro-text {
  text-align: left;
  font-weight: normal;
}


h3 {
  text-transform: uppercase;
}

.my-chip {
  background-color: #E0E0E0;
  border-radius: 16px;
  display: inline;
  padding: 5px 15px;
  margin: 0px 5px;
}

md-default-theme {
  margin: 0;
}

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab {
  height: 35px;
}

.error-messages {

  color: #D8000C;
  margin: 10px 0;
}


.checkmark {
  display:inline-block;
  margin: 0 10px 0 5px;
}

.checkmark:after {
    /*Add another block-level blank space*/
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 5px;
    height: 10px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid green;
    border-width: 0 2px 2px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
}

.md-switch-thumb, md-radio-button {
  display: inline-block;
}
