<div layout="column">
  <div layout="row" layout-align="start center">
    <span class="fa-stack" ng-click="changeDay('back')">
      <i class="fa fa-angle-left fa-stack-1x"></i>
      <i class="fa fa-circle-thin fa-stack-2x"></i>
    </span>
    <h1 style="font-size:2em; ">DAY #{{gameDayNum}}</h1>
    <span class="fa-stack" ng-click="changeDay('forward')">
      <i class="fa fa-angle-right fa-stack-1x"></i>
      <i class="fa fa-circle-thin fa-stack-2x"></i>
    </span>
  </div>
  <h3>Date: {{todaysDate}}</h3>
</div>
<md-checkbox ng-repeat="item in tracking" ng-click="toggle(item)" ng-model="item.isSelected"> <!-- ng-checked="exists(item, selected)"-->
  {{ item.name }} - <span class="points">Points ({{item.points}})</span> <!-- <span ng-if="exists(item, selected)">selected</span> -->
</md-checkbox>
<h1>Todays Total : {{total}}</h1>
