resources md-grid-tile:hover {
	opacity: 0.8;
	cursor: pointer;
}

resources md-grid-tile[class-attribute ='red'] {
	background-color: #E22919;
}

resources md-grid-tile[class-attribute ='blue'] {
	background-color: #2F5FA3;
}

resources md-grid-tile[class-attribute ='green'] {
	background-color: #247D4D;
}

resources md-grid-tile[class-attribute ='yellow'] {
	background-color: #D66E28;
}

resources md-grid-tile[class-attribute ='purple'] {
	background-color: #B02183;
}

resources md-grid-tile-footer figcaption h3 {
	margin: 0 !important;
	width: 100%;
	text-align: center;
}

resources md-grid-tile-footer figcaption {	
	width: 100%;
}

resources md-grid-tile span {
	padding: 0 4px;
	color: white;
}