<md-grid-list md-cols="7" md-cols-sm="2" md-row-height="4:4" md-gutter="10px">
  <md-grid-tile ng-repeat="tile in tiles"
                md-rowspan="{{tile.row}}"
                md-colspan="{{tile.col}}"
                md-colspan-sm="1"
                class-attribute="{{tile.background}}"
                ng-click="goTo(tile.url, tile.title)">
    <!-- <md-icon md-svg-icon="{{tile.icon}}"></md-icon> -->
    <span>{{tile.title}}</span>
    <md-grid-tile-footer><h3>{{tile.type}}</h3></md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
