.conference-calls h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-transform: uppercase;
  /*font-weight: bold;*/
}

.conference-calls h2 {
  font-size: 1.5em;
  margin-bottom: 20px !important;
}

.conference-calls h3 {
  font-size: 1.5em;
  margin-bottom: 10px !important;
}

.conference-calls h4 {
  font-size: 1em;
  margin-bottom: 10px;
}


.conference-calls .conference-registration {
  padding: 20px;
}
