introduction-page {
    background-color: white;
}

introduction-page h1{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.6em;
}

introduction-page .intro-container {
  padding: 20px;
  background-color: white;
}
introduction-page .md-button.md-default-theme.md-raised {
  background-color: #4B8220;
}

introduction-page .md-primary {
  margin-top: 100px;
}
