<div layout="row" ng-if="authenticated">
  <div layout="column" flex="100" class="md-whiteframe-z1 intro-container">

    <h1>Welcome to the 90 Day Game Plan</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fIXvOAtShik" frameborder="0" allowfullscreen></iframe>
    <md-button class="md-raised workbook" ng-click="workbook()">DOWNLOAD THE WORKBOOK</md-button>
    <md-button class="md-raised md-primary" ng-click="$state.go('main.onlineEdge')">Continue</md-button>
  </div>

</div>
