<md-dialog class="start-date" layout="column" layout-align="center center">
  <h1>Choose a starting Date</h1>
  <form ng-submit="submitStartDate()">
    <input type="date" ng-model="startDate.date" required>
    <button type="submit" class="md-raised md-primary">Submit</button>
  </form>
</md-dialog>
