.indv-techy-container {
  width: 100%;
}

online-edge h1 {
  font-size: 1.8em;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}

online-edge h2 {
  font-size: 1.6em;
  text-transform: uppercase;
  text-align: center;
}

online-edge ul {
  list-style: none;
}

online-edge .tools-list {
  padding: 10px;
}

online-edge .tools-list .md-button {
  margin: 2px 8px !important;
  line-height: 20px !important;
}

.techys-container h1{
  font-size: 1.8em;
  margin: 50px 0 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.indv-techy-container {
  width: 100%;
  margin-bottom: 20px;
}

.indv-techy-container span {
  font-size: 0.8em;
  position: relative;
  left: 10px;
  margin-top: 10px;
  padding: 0 5px;
}

.indv-techy-container a {
  text-decoration: none;
  color: black;
}

.indv-techy-container a:hover {
  opacity: 0.5;
}

.indv-techy-container img {
  width: 100%;
  margin: 0 10px;
}

online-edge .md-warn {
  font-size: 1.6em;
  padding: 10px 0;
  margin-top: 40px;
}

online-edge #facebook-title {
  margin-top: 90px;
}

online-edge h3 {
  text-align: center;
}
