<h1>Start here <i class="fa fa-arrow-down"></i></h1>
<div layout="column">
  <div layout="row" layout-align="space-around center">
    <a ng-href="https://www.youtube.com/watch?v=Bscz2d6age0" target="_blank"
      ng-click="addActivity('mainVideo', 'watchVideo', 'https://www.youtube.com/watch?v=Bscz2d6age0' )">
      <span >
        <img src="https://img.youtube.com/vi/Bscz2d6age0/0.jpg" alt="Main Video" />
      </span>
    </a>
    <div class="tools-list md-whiteframe-z1">
      <h2>Get your tools here</h2>
      <ul>
        <li ng-repeat="tool in onlineEdge.toolslist">
          <a ng-href="{{tool.link}}" target="_blank"
            ng-click="addActivity(tool.details, 'tool', tool.link)">
            <md-button md-no-ink class="md-primary">{{tool.details}}</md-button>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <h1 id="facebook-title">#1 Facebook Strategy</h1>
  <div layout="row">
    <div class="indv-techy-container" ng-repeat="strategy in onlineEdge.strategyOne">
      <a layout="column" ng-href='{{strategy.link}}' target="_blank"
        ng-click="addActivity(strategy.details, 'facebookStrategy', strategy.link)">
        <img ng-src='http://img.youtube.com/vi/{{youTubeId(strategy.link)}}/0.jpg' alt="{{strategy.details}}" />
        <span>{{strategy.details}}</span>
      </a>
    </div>
  </div>
  <div layout="row">
    <div class="indv-techy-container" ng-repeat="strategy in onlineEdge.strategyOneTwelve">
      <a layout="column" ng-href='{{strategy.link}}' target="_blank"
          ng-click="addActivity(strategy.details, 'facebookStrategy', strategy.link)">
        <img ng-src='http://img.youtube.com/vi/{{youTubeId(strategy.link)}}/0.jpg' alt="{{strategy.details}}" />
      </a>
    </div>
  </div>
  <h3>Twelve Conversations</h3>
</div>
<div layout="row" layout-align="center start">
  <md-button flex="20" class="md-raised md-warn" ng-click="showTech = !showTech">I'M TECHY</md-button>
</div>
<div ng-show="showTech">
  <div layout="column" class="techys-container" ng-repeat="techy in onlineEdge.techyStuff">
    <h1>{{techy.title}}</h1>
    <div layout="row" class="indv-techy-container" flex>
      <div class="techy-videos" ng-repeat="techyVideo in techy.content">
        <a layout="column" ng-href='{{techyVideo.link}}' target="_blank">
          <img ng-src='http://img.youtube.com/vi/{{youTubeId(techyVideo.link)}}/0.jpg' alt="{{techyVideo.details}}"
          ng-click="addActivity(techyVideo.details, 'techyVideos', techyVideo.link)"/>
          <span>{{techyVideo.details}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
