<div class="welcome-banner" layout="row" layout-align="center center">
  <h1>Register for the 90 day game plan</h1>
</div>
<div class="register-form">
  <form name="registerForm">
      <md-input-container>
        <label>First Name</label>
        <input required ng-model="registerForm.firstName" ng-keyup="saveToLocalStorage('fn')">
      </md-input-container>
      <md-input-container>
        <label>Last Name</label>
        <input required ng-model="registerForm.lastName" ng-keyup="saveToLocalStorage('ln')">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input required type="email" ng-model="registerForm.email" ng-keyup="saveToLocalStorage('e')">
      </md-input-container>
      <md-input-container>
        <label>Blendfresh Id</label>
        <input required ng-model="registerForm.blendFreshId" ng-keyup="saveToLocalStorage('bi')">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input required type="password" ng-model="registerForm.password">
      </md-input-container>
      <md-input-container md-is-error="registerForm.password !== registerForm.confirmPassword">
        <label>Confirm Password</label>
        <input required type="password" ng-model="registerForm.confirmPassword">
        <!-- <div ng-messages="registerForm.confirmPassword.$error">
          <div ng-message="min">Password does not match</div>
        </div> -->
      </md-input-container>
      <div layout="row" layout-align="center center">
        <h2 class="error" ng-bind="errorMessage"></h2>
      </div>
      <div class="button-container" layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="registerUser()">Register</md-button>
      </div>
      <div layout="row" layout-align="end center">
        <img src="img/blendfresh-logo-banner.jpg" alt="blendfresh-logo"/>
      </div>
  </form>
</div>
