register .register-form {
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 60px 20px 20px 20px;
}

register img {
  width: 300px;
  display: block;
}

register .button-container {
  margin-bottom: 50px;
}

register .welcome-banner {
	background-color: black;
	color: white;
	padding: 20px 20px;
  border-radius: 10px 10px 0 0;
}

register .welcome-banner h1 {
	text-transform: uppercase;
	font-size: 1.2em;
  font-weight: bold;
}

register .error {
  color: red;
  text-transform: none;
}
