.upper-header {
	background-color: black;
	color: white;
	padding: 5px;
}

.upper-header img {
	height: 30px;
	-webkit-filter: hue-rotate(272deg);
}

.upper-header h1, h2, h3 {
	text-transform: uppercase;
	margin: 0 !important;
}

.upper-header .game-plan  {
	text-align: center;
	margin: 0;
}

.upper-header h1 {
	font-size: 2em
}

.upper-header h3 {
	font-size: 1.17em
}
