<div layout="column">
	<div class="upper-header" layout="row" layout-align="space-between center">
		<img src="img/blendfresh-logo.png" hide-sm>
		<div flex-sm="100" class="game-plan">
			<h3>The 90 day</h3>
			<h1>Game plan</h1>
		</div>
		<h2 hide-sm>Hello {{user.name}}</h2>
	</div>
	<menu-header></menu-header>
</div>
