<div class="welcome-banner" layout="row" layout-align="center center">
  <h1>Welcome to the 90 day game plan</h1>
</div>
<div class="login-form">
  <form name="loginForm">
      <md-input-container>
        <label>Email</label>
        <input required name="email" ng-model="email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" required name="password" ng-model="password">
      </md-input-container>
      <div layout="row" layout-align="center center">
        <h2 class="error" ng-bind="errorMessage"></h2>
      </div>
      <div class="button-container" layout="row" layout-align="space-between center">
        <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
        <md-button class="md-primary" ng-click="$state.go('login.register')">Register</md-button>
      </div>
      <div layout="row" layout-align="end center">
        <img src="img/blendfresh-logo-banner.jpg" alt="blendfresh-logo"/>
      </div>
  </form>
</div>
