login-form .login-form {
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 60px 20px 20px 20px;
  /*border: 1px solid black;*/
}

login-form img {
  width: 300px;
  display: block;
}

login-form .button-container {
  margin-bottom: 50px;
}

login-form .welcome-banner {
	background-color: black;
	color: white;
	padding: 20px 20px;
  border-radius: 10px 10px 0 0;
}

login-form .welcome-banner h1 {
	text-transform: uppercase;
	font-size: 1.2em;
  font-weight: bold;
}

login-form .error {
  color: red;
  text-transform: none;
}
