better-human img {
	margin: 10px auto;

}
better-human {
	font-family: arial;
}

better-human h1 {
	text-transform: uppercase;
	font-size: 1.3em;
	/*text-align: center;*/
	background-color: black;
	color: white;
	display: inline-block;
	padding: 5px;
}