<div layout="row" layout-sm="column">
	<!-- START 1st Element of Row -->
	<div class="" flex>
		<h1>ME</h1>
		<ul>
			<li>
				<h2>Level 1</h2>
				<ul>
					<li>
						The 4 agreements- Don Miguel Ruiz</br>
						<a href="http://www.him-magazine.com/wpress/wp-content/uploads/2013/09/don_miguel_ruiz_-_the_four_agreements.pdf" target="_blank">www.him-magazine.com</a>
					</li>
					<li>The Spirit Junkie - Gabrielle Bernstein</li>
					<li>
						The Power of Now - Eckhart Tolle</br>
						<a href="http://www.baytallaah.com/bookspdf/51.pdf" target="_blank">www.baytallaah.com</a>
					</li>
					<li>
						Answers from the Heart- Thich Nhat Hanh</br><a href="http://self-help-ebook.net/95-answers-from-the-heart-practical-responses-to-life.html" target="_blank">www.self-help-ebook.net</a>
					</li>
				</ul>
			</li>
			<li>
				<h2>Level 2</h2>
				<ul>
					<li>May Cause Miracles - Gabrielle Bernstein</li>
					<li>A Return to Love- Marianne Williamson </br><a hre="http://www.pdflibrary.org/ebook/marianne-williamson-return-to-love.html">www.pdflibrary.org</a></li>
					<li>Unlimited Power - Anthony Robbins</li>
					<li>A New Earth - Eckhart Tolle</li>
					<li>The 7 Spiritual Laws of Success – Deepak Chopra</li>
					<li>Kindred Spirit. Fulfilling Love’s Promise. - Matthew &amp; Terces Engelhart</li>
					<li>The Mastery of Love - Don Miguel Ruiz</li>
				</ul>
				<li>
					<h2>Level 3</h2>
					<ul>
						<li>The 5th Agreement - Don Miguel Ruiz</li>
						<li>The Sedona Method - Hale Dwoskin</li>
						<li>The Law of Divine Compensation - Marianne Williamson</li>
						<li>Messages hidden in water - Dr Masaru Emoto</li>
						<li>A Course in Miracles - Combined Volume</li>
						<li>The Tibetan Book of the Dead - Robert A. F Thurman</li>
					</ul>
				</li>
			</li>
		</ul>
	</div>
	<!-- END 1st Element of Row -->
	<!-- START 2nd Element of Row -->
	<div class="" flex>
		<h1>Mind</h1>
		<ul>
			<li>
				<h2>Level1</h2>
				<ul>
					<li>The Slight Edge - Jeff Olsen</li>
					<li> How to Win Friends and Influence People - Dale Carnegie</li>
					<li>The 7 Habits of Highly Effective People - Stephen Covey</li>
					<li>The Power of Positive Thinking - Norman Vincent Peale</li>
					<li>Like a Virgin - Richard Branson</li>
					<li>Steve Jobs - Walter Isaacson</li>
					<li>The Leader who had no title - Robin Sharma</li>
				</ul>
			</li>
			<li>
				<h2>Level 2</h2>
				<ul>
					<li>The Magic of thinking Big - David Schwartz</li>
					<li>The Go-Giver - Bob Burg</li>
					<li>The Secret - Rhonda Byrne</li>
					<li>Start with Why - Simon Sinek</li>
					<li>The Monk Who Sold His Ferrari - Robin Sharma</li>
				</ul>
			</li>
			<li>
				<h2>Level 3</h2>
				<ul>
					<li>Awaken the Giant within - Anthony Robbins</li>
					<li>The Magic of Believing- Claude M Bristol</li>
					<li>The Outlier - Malcolm Gladwell</li>
					<li>Leaders Eat Last - Simon Sinek</li>
					<li>Give and Take - Adam Grant</li>
					<li>The Greatness Guide - Robin Sharma</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- END 2nd Element of Row -->
</div>
<div layout="row" class="image-row" layout-sm="column">
	<img src="img/books-make-you-better.jpg" flex-sm="100">
</div>
<div layout="row" layout-sm="column">
	<!-- START 3rd Element of Row -->

	<div class="" flex>
		<h1>Money</h1>
		<ul>
			<li>
				<h2>Level 1</h2>
				<ul>
					<li>GoPro - Eric Worre</li>
					<li>The 4 hour work week - Timothy Ferriss</li>
					<li>Business of the 21stCentury - Robert Kiyosaki</li>
					<li>Rich Dad Poor Dad - Robert Kiyosaki</li>
					<li>The 7 Habits of Highly Effective Network Marketers - Stephen Covey</li>
				</ul>
			</li>
			<li>
				<h2>Level 2</h2>
				<ul>
					<li>Jack Canfield- Success Principles</li>
					<li>Think and Grow Rich- Napolean Hill</li>
					<li>Millionaire Mind - T Harv Eker</li>
					<li>The Saint the Surfer and the CEO - Robin Sharma</li>
				</ul>
			</li>
			<li>
				<h2>Level 3</h2>
				<ul>
					<li>Richest Man in Babylon - George Samuel Clason</li>
					<li>Mastering the Millionaire Mindset - T.Harv. Eker</li>
					<li>The Science of Getting Rich - Wallace. D Wattles</li>
					<li>The Wellness Revolution - Paul Zane Pilzer</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- END 3rd Element of Row -->
	<!-- START 4th Element of Row -->
	<div class="" flex>
		<h1>Body</h1>
		<ul>
			<li>Men are from Mars, women are from venus - Dr John Gray</li>
			<li>The anti-inflammatory athlete - Dr Michael Colgan</li>
			<li>Talking Toxicology - Dr Noreen Khan Mayberry</li>
			<li>Conscious Eating - Gabriel Cousens</li>
			<li>pH Madness - Roger Bezanis</li>
			<li>Live with outrageous energy - Karen Urbanek</li>
		</ul>
	</div>
	<!-- END 4th Element of Row -->

</div>